$success: #96D33E;
html {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    background-color: #fcfcfc;
}


footer{
/* La nueva sintaxis necesaria para navegadores apegados al estandar (IE 10 y Firefox 10 en adelante), sin prefijo */
background: red;
}

.logo-title
{
    color: white;
   
}

html {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    background-color: #fcfcfc;
}


@import  "../libs/bootstrap/scss/bootstrap.scss";
